<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>NameSpace</label>
                <input type="text" name="NameSpace" class="form-control" placeholder="长度不超过32" value="{{.m.NameSpace}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Kubernetes集群</label>
                <input type="text" name="K8sName" class="form-control" placeholder="长度不超过32" value="{{.m.K8sName}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Hadoop集群</label>
                <input type="text" name="HadoopName" class="form-control" placeholder="长度不超过32" value="{{.m.HadoopName}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>项目名称</label>
                <input type="text" name="Subsystem" class="form-control" placeholder="长度不超过32" value="{{.m.Subsystem}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>项目版本</label>
                <input type="text" name="ReleaseVersion" class="form-control" placeholder="长度不超过32" value="{{.m.ReleaseVersion}}">
            </div>
        </div>
    </div>      
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>状态</label>
                <select name="Status" id="Status" class="form-control bs-select">                   
                    <option value="0">UnActive</option>
                    <option value="1">Active</option>
                </select>
            </div>
        </div>
    </div>
</form>
</div>
